@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css);

html, body {
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: right;
}

.title {
    text-transform: lowercase;
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.title::before {
    color: #888;
    font-family: 'FontAwesome';
    content: '\f0b0'; /* funnel */
    margin-right: 2px;
}

h3 {
    margin: 0;
    padding: 0;

    font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
    font-weight: bold;
    font-size: 110%;
}

p {
    margin: 0;
}

p + p {
    margin-top: 0.3em;
}

p * {
    vertical-align: middle;
}

a {
    color: #0077cc;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #4a6b82;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: auto;
    width: 800px;
}

.settings {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eaeaea;
}

.notifications {
    margin-top: 0.3em;
}

.login {
    margin-top: 15px;
}

input[type=text], input[type=number] {
    width: 5em;
}

input:disabled + label {
    color: #888;
}

.questions {
    display: table;
}

.question {
    display: table-row;
}

.question > * {
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.stats {
    color: #888;
}

.stats * {
    text-align: center;
}

.score-value {
    font-size: 160%;
    background-color: #eee;
    padding: 6px;
}

.answers {
    background-color: #eee;
    padding: 6px;
    padding-top: 0;
}

.views {
    padding: 6px;
    padding-top: 3px;
}

.answers, .views {
    white-space: nowrap;
}

.answers > *, .views > * {
    display: inline-block;
}

.details-container {
    padding-left: 15px;
    padding-right: 15px;
}

.excerpt {
    font-size: 90%;
    padding-top:    5px;
    padding-bottom: 5px;
}

.tags {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.tag {
    list-style: none;
    display: inline-block;
    color: #3E6D8E;
    background-color: #E0EAF1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    font-size: 90%;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
}

.posted {
    background-color: #eee;
    padding: 6px;
}

.posted-date {
    white-space: nowrap;
    font-size: 90%;
    color: #888;
}

.author {
    white-space: nowrap;
    margin-top: 4px;
}

.author > * {
    vertical-align: middle;
}

.author-image {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.author-details {
    display: inline-block;
}

.author-name {
    font-size: 90%;
}