html, body {
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: right;
}

h3 {
    margin: 0;
    padding: 0;

    margin-bottom: 5px;
    font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
    font-weight: bold;
    font-size: 110%;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0;
}

a {
    color: #0077cc;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: auto;
    width: 800px;
}

.filter, .notifications {
    padding-left: 15px;
    padding-right: 15px;
}

.notifications {
    margin-top: 0.3em;
}

input[type=text], input[type=number] {
    width: 5em;
}

.questions {
    display: table;
    border-spacing: 15px;
}

.question {
    display: table-row;
}

.question > * {
    display: table-cell;
    vertical-align: top;
}

.stats {
    background-color: #eee;
    color: #888;
    padding: 6px;
}

.stats * {
    text-align: center;
}

.excerpt {
    font-size: 90%;
}

.tags {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.tag {
    list-style: none;
    display: inline-block;
    color: #3E6D8E;
    background-color: #E0EAF1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    font-size: 90%;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
}

.score-value {
    font-size: 24px;
}

.answers-value {
    font-size: 140%;
}

.views {
    color: #999;
    white-space: nowrap;
}

.views * {
    display: inline;
}

.posted {
    background-color: #eee;
    padding: 6px;
}

.posted-date {
    white-space: nowrap;
    font-size: 90%;
}

.author {
    white-space: nowrap;
    margin-top: 4px;
}

.author-image {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.author-details {
    display: inline-block;
}